<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyDiemDaiHoc.Properties.Settings.QuanLyDiemTruongDaiHocConnectionString"
            connectionString="Data Source=HOANGHIEP\DEV;Initial Catalog=QuanLyDiemTruongDaiHoc;Persist Security Info=True;User ID=sa;Password=hoanghiep;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyDiemDaiHoc.Properties.Settings.QuanLyDiemTruongDaiHocConnectionString1"
            connectionString="Data Source=HOANGHIEP\DEV;Initial Catalog=QuanLyDiemTruongDaiHoc;Persist Security Info=True;User ID=sa;Password=hoanghiep;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>